* {
  /* border: 1px solid black; */
  margin: 0px;
}

#container, 
.cell {
  border: 1px solid grey;
}

button {
  display: flex;
  margin: 10px auto
}

#container {
  display: flex;
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 750px;
  margin: 10px auto;
  flex-wrap: wrap;
}

.cell {
  box-sizing: border-box;
  flex-basis: 25%;
  flex-grow: 0;
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 100%;
}

/* .cell:hover {
  background-color: black;
} */