* {
  border: 1px solid black;
  margin: 0px;
}

#container {
  display: flex;
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 750px;
  margin: 10px auto;
  flex-wrap: wrap;
}

.cell {
  flex-basis: 185.5px;
  flex-grow: 0;
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 100%;
}